@width: 400px;

//basic styles
.flyout-container {
  position: fixed;
  width: @width;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;

  &.flyout-container-hidden {
    display: none;
  }

  .flyout {
    position: absolute;
    width: @width;
    top: 0;
    bottom: 0;
    right: 0;
    background: #EEE;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);

    //animation stuff
    @keyframes showFlyout {
      0% {
        right: -@width;
      }
      100% {
        right: 0;
      }
    }

    @keyframes hideFlyout {
      0% {
        right: 0;
      }
      100% {
        right: -@width;
      }
    }

    //animation mix-in
    .flyout-animation(@animation) {
      animation-name: @animation;
      animation-duration: 1s;
    }

    &.show-flyout {
      .flyout-animation(showFlyout);
    }

    &.hide-flyout {
      .flyout-animation(hideFlyout);
    }
  }
}